    [sources.over_tcp]                                                                                                                                                                                                                       
      type = "socket"                                                                                                                                                                                                                        
      mode = "tcp"                                                                                                                                                                                                                           
      address = "0.0.0.0:9001"                                                                                                                                                                                                               
                                                                                                                                                                                                                                             
    [transforms.parse_log]                                                                                                                                                                                                                   
      type = "grok_parser"                                                                                                                                                                                                                   
      inputs = ["over_tcp"]                                                                                                                                                                                                                  
      pattern = "%{TIMESTAMP_ISO8601:timestamp} %{LOGLEVEL:level} %{GREEDYDATA:message}"                                                                                                                                                     
                                                                                                                                                                                                                                             
    [transforms.transform_1]                                                                                                                                                                                                                 
      type = "add_fields"                                                                                                                                                                                                                    
      inputs = ["parse_log"]                                                                                                                                                                                                                 
      [transforms.transform_1.fields]                                                                                                                                                                                                        
        new_field = "Value in fake field"                                                                                                                                                                                                    
                                                                                                                                                                                                                                             
    [transforms.transform_2]                                                                                                                                                                                                                 
      type = "remove_fields"                                                                                                                                                                                                                 
      inputs = ["transform_1"]                                                                                                                                                                                                               
      fields = ["level"]                                                                                                                                                                                                                     
                                                                                                                                                                                                                                             
    [sinks.simple_output]                                                                                                                                                                                                                    
      inputs = ["transform_2"]                                                                                                                                                                                                               
      type     = "console"                                                                                                                                                                                                                   
      encoding = "text"                                                                                                                                                                                                                      
                                                                                                                                                                                                                                             
    [[tests]]                                                                                                                                                                                                                                
      name = "check_simple_log"                                                                                                                                                                                                              
                                                                                                                                                                                                                                             
      [[tests.inputs]]                                                                                                                                                                                                                       
        insert_at = "parse_log"                                                                                                                                                                                                              
        type = "raw"                                                                                                                                                                                                                         
        value = "2020-11-26T12:00:00+00:00 info Message for testing"                                                                                                                                                                         
                                                                                                                                                                                                                                             
      [[tests.outputs]]                                                                                                                                                                                                                      
        extract_from = "transform_2"                                                                                                                                                                                                         
                                                                                                                                                                                                                                             
        [[tests.outputs.conditions]]                                                                                                                                                                                                         
          type = "check_fields"                                                                                                                                                                                                              
          "level.exists" = false                                                                                                                                                                                                             
          "new_field.equals" = "Value in fake field"                                                                                                                                                                                         
          "timestamp.equals" = "2020-11-26T12:00:00+00:00"                                                                                                                                                                                   
          "message.equals" = "Message for testing"