#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
# http://prometheus.io/docs/operating/configuration/

global:
  {{ prometheus_global | to_nice_yaml(indent=2) | indent(2, False) }}
  external_labels:
    {{ prometheus_external_labels | to_nice_yaml(indent=2) | indent(4, False) }}

{% if prometheus_remote_write != [] %}
remote_write:
  {{ prometheus_remote_write | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}

{% if prometheus_remote_read != [] %}
remote_read:
  {{ prometheus_remote_read | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}

rule_files:
  - {{ prometheus_config_dir }}/rules/*.rules

{% if prometheus_alertmanager_config | length > 0 %}
alerting:
  alertmanagers:
  {{ prometheus_alertmanager_config | to_nice_yaml(indent=2) | indent(2,False) }}
  {% if prometheus_alert_relabel_configs | length > 0 %}
  alert_relabel_configs:
  {{ prometheus_alert_relabel_configs | to_nice_yaml(indent=2) | indent(2,False) }}
  {% endif %}
{% endif %}

scrape_configs:
  - job_name: prometheus
    metrics_path: /metrics
    static_configs:
    - targets:
      - {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:9090
  - job_name: cloudgate_proxy
    metrics_path: /metrics
    static_configs:
      - targets:
{% for host in groups['proxies'] %}
        - {{ host }}:{{ prometheus_cloudgate_metrics_port }}
{% endfor %}
  - job_name: node
    metrics_path: /metrics
    static_configs:
      - targets:
{% for host in groups['proxies'] %}
        - {{ host }}:9100
{% endfor %}