---
##########################
### Client connections ###
##########################

## Maximum number of client connections that each ZDM proxy instance can accept. Defaults to 1000.
## This limit can be increased, but it might impact performance especially at high throughput.
#zdm_proxy_max_clients_connections:

##########################
### ZDM Proxy listener ###
##########################

## Port on which the ZDM proxy listens for client connections.
## Typically the same as the port on which the Origin cluster nodes listen for client connections.
zdm_proxy_listen_port: 9042

################################
### Protocol Versions        ###
################################

## Comma-separated string that represents a list of protocol versions that should be blocked by the proxy.
## Usually this is not necessary but could be useful if the application is having issues with certain protocol versions.
## This can generally be done in the driver but configuring it at the proxy level can be easier in certain deployments.
## Defaults to "" (no blocked version). Possible values at the moment are: v2,v3,v4,v5,DseV1 and DseV2. The values
## are case insensitive and the "v" letter can be ommitted (e.g. 2,3,4,5,Dse1). Example: "v2,v5,DseV1"
#blocked_protocol_versions:

################################
### CQL function replacement ###
################################

## Enables the replacement of CQL functions at proxy level. At the moment only now() replacement is supported.
## Boolean value. Defaults to false (replacement disabled). Enabling this will have a noticeable performance impact.
#replace_cql_functions:

################
### Timeouts ###
################

#zdm_proxy_request_timeout_ms:
#origin_connection_timeout_ms:
#target_connection_timeout_ms:
#async_handshake_timeout_ms:

#################
### Heartbeat ###
#################

## Frequency of the heartbeats sent on cluster connections (both control and request connections) to keep the connection alive
## Defaults to 30 ms.
#heartbeat_interval_ms:

#########################
### Multi-DC settings ###
#########################

## Name of the Origin and Target datacenters that the ZDM proxy must connect to
## Very important when connecting to multi-DC clusters
#origin_local_datacenter:
#target_local_datacenter:

###################################
### Request processing settings ###
###################################

## Maximum number of Stream IDs that the ZDM proxy should use when forwarding requests on a cluster connection.
## This value is per cluster connection. Defaults to 2048.
#zdm_proxy_max_stream_ids:

###############
### Metrics ###
###############

## Metrics collection on the ZDM proxy is enabled by default. Metrics are scraped by Prometheus using the specified port.
#metrics_enabled:
metrics_port: 14001

#############################
##### Deprecated settings ###
#############################

## These settings should not be used and may be removed in a future release ####

## Where to route the system queries. Valid values: ORIGIN, TARGET. Defaults to ORIGIN.
#system_queries_mode:

## Whether to use the credentials passed by the client application as Origin credentials.
## Defaults to false (client credentials are used for Target)
#forward_client_credentials_to_origin: