#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
# http://prometheus.io/docs/operating/configuration/

global:
  evaluation_interval: {{ prometheus_evaluation_interval }}
  scrape_interval: {{ prometheus_scrape_interval }}
  scrape_timeout: {{ prometheus_scrape_timeout }}

  external_labels:
    environment: {{ prometheus_environment_label_prefix }}-"{{ ansible_fqdn | default(ansible_host) | default(inventory_hostname) }}"

rule_files:
  - /etc/prometheus/rules/*.rules

scrape_configs:
  - job_name: prometheus
    metrics_path: /metrics
    static_configs:
    - targets:
      - {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:9090
  - job_name: zdm_proxy
    metrics_path: /metrics
    static_configs:
      - targets:
{% for host in groups['proxies'] %}
        - {{ host }}:{{ metrics_port }}
{% endfor %}
  - job_name: node
    metrics_path: /metrics
    static_configs:
      - targets:
{% for host in groups['proxies'] %}
        - {{ host }}:9100
{% endfor %}

# Rendered example - TODO remove
#scrape_configs:
#  - job_name: prometheus
#    metrics_path: /metrics
#    static_configs:
#    - targets:
#      - 172.18.100.31:9090
#  - job_name: zdm_proxy
#    metrics_path: /metrics
#    static_configs:
#      - targets:
#        - 172.18.10.91:14001
#        - 172.18.11.27:14001
#        - 172.18.12.219:14001
#  - job_name: node
#    metrics_path: /metrics
#    static_configs:
#      - targets:
#        - 172.18.10.91:9100
#        - 172.18.11.27:9100
#        - 172.18.12.219:9100