#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{% if ( origin_username is defined and origin_password is defined ) %}
ZDM_ORIGIN_USERNAME={{ origin_username }}
ZDM_ORIGIN_PASSWORD={{ origin_password }}
{% endif %}

{% if ( target_username is defined and target_password is defined ) %}
ZDM_TARGET_USERNAME={{ target_username }}
ZDM_TARGET_PASSWORD={{ target_password }}
{% endif %}

{% if ( primary_cluster is defined ) %}
ZDM_PRIMARY_CLUSTER={{ primary_cluster }}
{% endif %}

{% if ( read_mode is defined ) %}
ZDM_READ_MODE={{ read_mode }}
{% endif %}

{% if ( log_level is defined ) %}
ZDM_LOG_LEVEL={{ log_level }}
{% endif %}

{% if ( zdm_proxy_max_clients_connections is defined ) %}
ZDM_PROXY_MAX_CLIENT_CONNECTIONS={{ zdm_proxy_max_clients_connections }}
{% endif %}

{% if ( zdm_proxy_request_timeout_ms is defined ) %}
ZDM_PROXY_REQUEST_TIMEOUT_MS={{ zdm_proxy_request_timeout_ms }}
{% endif %}
{% if ( origin_connection_timeout_ms is defined ) %}
ZDM_ORIGIN_CONNECTION_TIMEOUT_MS={{ origin_connection_timeout_ms }}
{% endif %}
{% if ( target_connection_timeout_ms is defined ) %}
ZDM_TARGET_CONNECTION_TIMEOUT_MS={{ target_connection_timeout_ms }}
{% endif %}
{% if ( async_handshake_timeout_ms is defined ) %}
ZDM_ASYNC_HANDSHAKE_TIMEOUT_MS={{ async_handshake_timeout_ms }}
{% endif %}

{% if ( max_stream_ids is defined ) %}
ZDM_MAX_STREAM_IDS={{ max_stream_ids }}
{% endif %}

{% if ( metrics_enabled is defined ) %}
ZDM_METRICS_ENABLED={{ metrics_enabled }}
{% endif %}

{% if ( system_queries_mode is defined ) %}
ZDM_SYSTEM_QUERIES_MODE={{ system_queries_mode }}
{% endif %}

{% if ( replace_cql_functions is defined ) %}
ZDM_REPLACE_CQL_FUNCTIONS={{ replace_cql_functions }}
{% endif %}

{% if ( forward_client_credentials_to_origin is defined ) %}
ZDM_FORWARD_CLIENT_CREDENTIALS_TO_ORIGIN={{ forward_client_credentials_to_origin }}
{% endif %}

